<p id="notice"><%= notice %></p>

<h1>Listing Matches</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Owner</th>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Player ...</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <%= sync partial: 'index_match', resource: match %>
    <% end %>
    <%= sync_new partial: 'index_match', resource: Match.new %>
  </tbody>
</table>

<br>

<%= link_to 'Iniciar Partida', new_match_path %>
